/* uofl_show.scss showering every page but the homepage  */


.facets-heading  {
  font-family:"Stack Sans Text", Helvetica Neue, Helvetica, Arial, sans-serif!important;
}



/* RESULTS */
.search-widgets .view-type,
.search-result-wrapper .badge,
.search-result-wrapper .collection-counts-wrapper,
.search-result-wrapper #subject_tesim,
.search-result-wrapper #depositor_tesim,
.search-result-wrapper #publisher_tesim,
.search-result-wrapper #date_uploaded_dtsi,
.search-result-wrapper #date_modified_dtsi,
.search-result-wrapper #rights_statement_tesim,
.search-result-wrapper #city_tesim,
.search-result-wrapper #county_tesim,
.search-result-wrapper #neighborhood_tesim,
.search-result-wrapper #decade_tesim,
.search-result-wrapper #language_tesim,
.search-result-wrapper #contributor_tesim,
.search-result-wrapper #resource_type_tesim,
.search-result-wrapper #object_type_tesim,
.search-result-wrapper #format_tesim,
.search-result-wrapper #bulkrax_identifier_tesim,
.document.blacklight-collection .search-results-title-row,
.document.blacklight-collection .col-md-3.col-lg-5, 
#all_text_tsimv   
  { display:none!important; }

#search-results a { text-decoration:underline;}


.metadata-field {
  display:grid;
  grid-template-columns: 8rem 1fr;
}

/* search results list collection listing */

.document.blacklight-collection .col-md-9.col-lg-7 { 
  max-width:unset;
  flex:unset;
  padding:1rem;
}

.document.blacklight-collection {
  padding:0 1rem!important;
  background:linear-gradient(165deg, #204694 0%, #214f87 50%, #215480 100%);
  border-radius:20px;
}

.document.blacklight-collection .search-result-wrapper.row {
  border-radius:20px;
  box-shadow:rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgb(86, 118, 171) 0 25px 25px -5px;
  margin-bottom:3rem;
}

.document.blacklight-collection h4.search-result-title a p,
.document.blacklight-collection .metadata-field {
  color:white!important;
}

.document.blacklight-collection h4.search-result-title a:hover { color:white;}

/* search results list text document listing */
@media (min-width:992px) {
  .document.blacklight-text img { max-width:200px;}
}



@media (max-width:767.9px) {
  .search-result-wrapper .metadata { border-bottom:1px solid #dbdbdb;}
}


/* ADVANCED SEARCH PAGE */
body.advanced h1 { margin-bottom:2rem;}
.advanced-search-form > .row { flex-direction: column;}
.advanced-search-form > .row > .col-md-8 { 
  max-width: 100%;
  flex:unset;
}
label.control-label { font-weight:bold;}



@media (max-width:767.9px) {
  body.advanced .container { 
    margin-right:1rem; 
    margin-left:1rem;
    max-width:calc(100% - 2rem);
  }
}

@media (min-width:768px) {
  .advanced-search-field { display:flex;}
}
@media (min-width:1400px) {
  body.advanced .container { 
    margin-right:1rem; 
    margin-left:1rem;
    max-width:calc(100% - 2rem);
  }
  body.advanced .input-criteria { 
    display:grid;
    grid-template-columns: 50% 50%;
    gap:2rem;
  }

}


/* INDIVIDUAL COLLECTION PAGE */

body.public-facing .hyc-container {
    .hyc-banner .badge { display:none;}
    .hyc-banner .hyc-item-count {
      background-color:#555;
      color:white;
      display: none;
    }
    #collections_show_search_row { justify-content: center;}

    form.edit_collection,
    input#collection_search { 
      border-bottom-left-radius:24px;
      border-top-left-radius:24px;
    }
    input#collection_search { padding-left:1rem;}

    .hyc-last-updated,
    #hyc-collection-metadata-total_items  { display:none;}

    .hyc-metadata dl {
      border-top:none;
      margin-bottom:0;
    }

    .hyc-metadata div {
      display:grid;
      grid-template-columns: 120px 1fr;
      gap:1rem;
      border-bottom:none;
   }

    .public-last-update { margin-bottom:1rem;}

    .hyc-bl-sort > .per_page.form-horizontal { border-bottom:none;}

    @media (max-width:767.9px) {
      .hyc-banner .hyc-item-count { display:none;}
      .documents-gallery .document { min-width:300px;}
    }

    .documents-gallery .document .blacklight-description_tesim,
    .documents-gallery .document .blacklight-subject_tesim,
    .documents-gallery .document .blacklight-publisher_tesim,
    .documents-gallery .document .blacklight-rights_statement_tesim,
    .documents-gallery .document .blacklight-resource_type_tesim,
    .documents-gallery .document .blacklight-format_tesim
      { display:none;}

    #uofl-hyrax-collections-show table th:nth-of-type(1),
    #uofl-hyrax-collections-show table th:nth-of-type(4),
    #uofl-hyrax-collections-show table td:nth-of-type(1),
    #uofl-hyrax-collections-show table td:nth-of-type(4)    { display:none;}
}


/* ITEM RECORD */
.viewer-wrapper iframe { 
  border-radius:24px;
  top:-16px;
}
.work-show.image {
  display: grid;
  grid-template-columns: 10rem 1fr;
}